{% extends 'base/single_line_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Log in page' %}{% endblock %}

<!--Main layout-->
{% block content-main %}
    <!--Main container-->
    <div class="card card-form mt-2 mb-4">
        <!--Card header-->
        <h4 class="card-header primary-color-dark white-text text-center py-4">
            <strong class="z-depth-3">{% trans 'Sign in' %}</strong>
        </h4>
        <div class="card-body rounded-top blue darken-4 text-white px-lg-5">
            <!--Card content-->
            <!-- Form -->
            <form class="text-center" action="" method="post">
                {% csrf_token %}
                <div class="h5 mb-3  text-white">{% trans 'Log in using email address:' %}</div>
                {% include 'atelier/include/form-partial.html' with form=email_login_form %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <!-- Email -->
{#                <div class="md-form">#}
{#                    <input type="email" id="materialLoginFormEmail" class="form-control text-white">#}
{#                    <label for="materialLoginFormEmail" class="text-white">E-mail</label>#}
{#                </div>#}
{##}
{#                <!-- Password -->#}
{#                <div class="md-form">#}
{#                    <input type="password" id="materialLoginFormPassword" class="form-control text-white">#}
{#                    <label for="materialLoginFormPassword" class="text-white">Password</label>#}
{#                </div>#}

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                            <label class="form-check-label text-white" for="materialLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <button type="submit" class="btn btn-outline-warning waves-effect btn-block z-depth-3" name="email_code">
                            {% trans 'Forgot password?' %}
                        </button>
                        <small class="text-white">{% trans 'Send one time password that can be used to login to my e-mail' %}<i
                                class="fa fa-chevron-right ml-2"></i></small>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-outline-success btn-block my-4 waves-effect z-depth-3" type="submit"
                        name="email_password">
                    {% trans 'Sign in' %}
                </button>

                <!-- Register -->
                <p class="text-white">{% trans 'Not a member?' %}
                    <a href="" class="text-success">{% trans 'Register' %}</a>
                </p>

{#                <!-- Social login -->#}
{#                <p class="text-white">{% trans 'or sign in with:' %}</p>#}
{#                <a type="button" class="btn-floating btn-fb btn-sm text-success">#}
{#                    <i class="fab fa-facebook-f"></i>#}
{#                </a>#}
{#                <a type="button" class="btn-floating btn-tw btn-sm text-warning">#}
{#                    <i class="fab fa-twitter"></i>#}
{#                </a>#}
            </form>
            <!-- Form -->
        </div>
    </div>
    </div>
{% endblock content-main %}
<!--Main layout-->