{% extends 'base/single_line_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}Atelier users{% endblock %}

{% block main %}

    {% block content-header %}
        <div class="col-md-12 d-flex flex-row-reverse">
            <a class="btn blue-gradient mr-5 px-5" href="#" type="button">
                {% trans 'Add user' %}
            </a>
        </div>
    {% endblock content-header %}

    <div class="container bg">
        <div class="row">
            {% for user in page_obj %}
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4"> 
                    <!--Card-->
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                 class="rounded-circle"
                                 alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            {% endfor %}
        </div>
    </div>

{% endblock main %}
