{% extends 'base/single_line_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Atelier users' %}{% endblock %}


{% block content-header %}
    <div class="col-md-12 d-flex flex-row-reverse">
        <a class="btn blue-gradient mr-5 px-5" href="{% url 'user_management_create' %}" type="button">
            {% trans 'Add user' %}
        </a>
    </div>
{% endblock content-header %}

{% block content-main %}
    <div class="row">
        {% for user in page_obj %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <!-- Card -->
                <div class="card testimonial-card">
                    <!-- Background color -->
                    <div class="card-up aqua-gradient"></div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                             class="rounded-circle"
                             alt="user avatar">
                    </div>

                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title">{{ user.username }}</h4>
                        <hr>
                        <!-- Quotation -->
                        <p><i class="fas fa-user-tag"></i> {{ user.occupation }}</p>
                        <p><i class="fas fa-mobile-alt"></i> {{ user.phone_number }}</p>
                        <p><i class="far fa-envelope"></i> {{ user.email }}</p>
                        {% if user.is_administrator or user.is_superuser %}
                            <p><i class="fas fa-user-cog"></i> {% trans 'Atelier administrator' %}</p>
                        {% else %}
                            <p><i class="fab fa-centos"></i> {% trans 'Atelier employee' %}</p>
                        {% endif %}
                        <div class="mb-3 text-right">
                            <a class="btn-sm primary" href="{% url 'user_management_detail' user_id=user.id %}">{% trans 'User detail' %}</a>
                        </div>

                    </div>

                </div>
                <!-- Card -->
                <!--/.Card-->
            </div>
            <!--Grid column-->
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'atelier/include/pagination-controls.html' with pagination=page_obj %}
    {% endif %}

{% endblock content-main %}
