{% extends 'base/base_card_template.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Atelier users' %}{% endblock %}

{% block card-header %}
            {% if user_to_manage %}
                <div class="h4">
                    {% if user_to_manage.first_name or user_to_manage.last_name or user_to_manage.email %}
                        {{ user_to_manage }}
                        {% if not user_to_manage.is_superuser and user_to_manage.username %} (
                            {{ user_to_manage.username }}){% endif %}
                    {% else %}
                        {{ user_to_manage.username }}
                    {% endif %}
                    {% if user_to_manage.is_superuser %} ({% trans 'admin' %}){% endif %}
                </div>
                <small class="text-white">
                    {% trans 'Joined on:' %} {{ user_to_manage.date_joined }}
                    {% if user_to_manage.last_login %}
                        {% trans 'Last login on:' %} {{ user_to_manage.last_login }}
                    {% else %}
                        {% trans 'Never logged in.' %}
                    {% endif %}
                </small>
            {% else %}
                <h3 class="font-weight-bold text-center text-uppercase text-white mt-4 ">{% trans 'Create user' %}</h3>
            {% endif %}
{% endblock card-header %}

{% block card-body %}
            <!-- Form -->
            <form class="pb-3 px-4" method="post">
                {% csrf_token %}
                {% for non_field_error in form.non_field_errors %}
                    <p class="text-danger">{{ non_field_error }}</p>
                {% endfor %}
                {% for field in form %}
                    <div class="{% if field.field.widget.input_type == 'checkbox' %} form-check {% elif field.field.widget.input_type == 'select' %} mdb-select mt-3{% else %} md-form {% endif %}">
                        {{ field }}
                        {% if not field.field.widget.attrs.hide_label %}
                            <label for="{{ field.id_for_label }}"
                                   class="text-white">{{ field.label }}</label>
                        {% endif %}
                        {% for error in field.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
                        <small>
                                        <span class="text-white" id="helptext_{{ field.auto_id }}">
                                            {{ field.help_text }}
                                        </span>
                        </small>
                    </div>
                {% endfor %}
                <div class="mb-3">
                    <button class="btn btn-outline-success my-4 waves-effect z-depth-3" type="submit">{% trans 'Save user' %}</button>
                    <a class="btn btn-outline-warning waves-effect z-depth-3" href="
                            {% if cancel_url %}{{ cancel_url }}{% else %}{% url 'user_management' %}{% endif %}">{% trans 'Cancel' %}</a>
                    {% if user_to_manage %}
                        <a class="btn btn-outline-danger my-4 waves-effect z-depth-3" href="{% url 'user_management_delete' user_id=user_to_manage.id %}">{% trans 'Delete user' %}</a>
                    {% endif %}
                </div>
            </form>
            <!-- Form -->
{% endblock card-body %}
