{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block global-pre-body %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark blue-gradient scrolling-navbar">

        <!-- Additional container -->
        <div class="container">

            {% block navbar-brand %}
                <a class="navbar-brand" href="#">
                    <div class="view overlay">
                        <img src="{% static '/atelier/logo/Logo_13.png' %}" height="50"
                             alt="atelier logo">
                        <div class="mask rgba-yellow-light"></div>
                    </div>
                </a>
            {% endblock navbar-brand %}

            {% block navbar-menu %}
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    {% block navbar-start %}
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            {% if user.is_superuser or user.is_staff %}
                                <li class="nav-item">
                                    <a href="{% url 'user_management' %}" class="nav-link">
                                        {% trans 'Users' %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'Clients' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'Orders' %}</a>
                            </li>

                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{% trans 'Products' %}</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                                    <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                                    <a class="dropdown-item" href="#">{% trans 'Action' %}</a>
                                </div>
                            </li>

                        </ul>
                        <!-- Links -->
                    {% endblock navbar-start %}

                    {% block navbar-middle %}{% endblock %}

                    {% block navbar-end %}
                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>{% trans 'Profile' %}</a>
                                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-info"
                                         aria-labelledby="navbarDropdownMenuLink-4">
                                        <a class="dropdown-item" href="{% url 'my_profile' %}">{% trans 'My account' %}</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                                    </div>
                                    {% if user.is_staff %}
                                        <li class="nav-item"><a href="/admin/" class="nav-link"><i
                                            class="fa fa-cogs"></i></a>
                                    {% endif %}
                                    </li>
                            {% else %}
                                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><i
                                        class="fa fa-sign-in"></i></a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i
                                        class="fa fa-user-plus"></i></a></li>
                            {% endif %}
                        </ul>
                    {% endblock navbar-end %}
                </div>
                <!-- Collapsible content -->
                </div>
            {% endblock navbar-menu %}
    </nav>
    <!--/.Navbar-->
{% endblock global-pre-body %}

<!-- Footer -->
{% block footer %}
    <footer class="page-footer font-small blue-gradient fixed-bottom">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Atelier by Vitamal.
            <a href="https://mdbootstrap.com/education/bootstrap/">All rights reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock footer %}
<!-- Footer -->
